body {
    text-align: center;
    background-color: darkslategray;
}

img {
    border: 2px solid yellow;
    border-radius: 10px;
    height: 300px;
    width: calc(33.33% - 20px); 
    object-fit: cover;
    margin-right: 5px; 
    margin-bottom: 10px;
}

img, .main-images, :nth-child(3n-2) {
    margin-left: 0;
}

.header {
    border: 2px solid yellow;
    border-radius: 10px;
}

h1 {
    font-size: 75px;
    color: #40E0D0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    font-family: arial black;
}

p, .pcolor {
    font-size: 75px;
    color: #FFA500;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    font-family: arial black;
    text-align: justify-all;
}

main {
    border: 2px solid yellow;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    height: auto;
    width: auto;
}

footer {
    border: 2px solid yellow;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 10px;
}

hr {
    border: 1px solid yellow;
}

video {
    height: 300px;
    width: 300px;
    border: 2px solid yellow;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 10px;
}

 .sign {
    background-color: #FFA500;
    color: white;
    text-align: center;
    margin: 20px auto;
    max-width: auto;
    max-height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 75px;
  }

   .main-images {
        display: flex; /* Use flexbox */
        flex-wrap: wrap; /* Wrap items to the next line */
        justify-content: space-around; /* Distribute items evenly with space around */
    }

    .main-images a {
        flex: 0 0 calc(33.33% - 20px); /* Each image takes up 33.33% of the container with some flex */
        margin: 10px; /* Add margin between images */
    }
