body {
    text-align: center;
    background-color: darkslategray;
}

img {
    border: 2px solid yellow;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 10px;

}

.header {
    border: 2px solid yellow;
    border-radius: 10px;
}

h1 {
    font-family: 'Allerta Stencil';
    font-size: 75px;
    color: black;
}

main {
    border: 2px solid yellow;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

}

footer {
    border: 2px solid yellow;
    border-radius: 10px;
    height: 650px;
}

hr {
    border: 1px solid yellow;
}

video {
    height: 300px;
    width: 300px;
    border: 2px solid yellow;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 10px;
}

 .sign {
    background-color: yellow;
    color: white;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    max-height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 75px;
  }

 .sign2 {
    background-color: yellow;
    color: white;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 75px;
  }

